<div class="row">
  <div class="col md-6 offset-1">

    <%= render "shared/profilebar"%>

  </div>
</div>

<% @user.followers.each do |follower| %>
  <%= render "users/follows", user: follower %>
<% end %>
