<div class="row">
  <div class="col md-5 offset-1">

    <%= render "shared/profilebar"%>
    
  </div>
</div>

<% @user.own_photos.each do |photo| %>
  
  <%= render "photos/photo", photo: photo %>

<% end %>
