<div class="container card border-bottom p-2 m-2">
  <div class="row">
    <div class="col-2 card">
      <!--<img class="rounded-circle mr-2" width="36" src="https://robohash.org/carol">-->
      avatar
    </div>
    <div class="col-10">
      <div class="contianer">
        <div class="row">
          <div class="d-flex align-items-center justify-content-between">
            <h2 class="h5 m-0 p-0 d-flex align-items-center">
              <%poster = User.find(comment.author_id)  %>
              <%= link_to poster.username, user_profile_path(poster.username), class: "test-dark"%>
            </h2>
            <% if current_user.id == comment.author_id %>
              <div class="m-0 p-0 d-flex align-items-center">
                <%= link_to edit_comment_path(comment.id), class:"test-dark" do %>
                  <i class="fa-solid fa-pen-to-square btn btn-link btn-sm text-muted text-secondary"></i>
                <% end %>
                <%= link_to comment_path(comment.id), data: {turbo_method: :delete } do %>
                  <i class="fa-solid fa-trash m-2 text-secondary btn btn-link btn-sm text-muted"></i>
                <% end %>
              </div>
            <% end %>

          </div>
        </div>
        <div class="row">
          <%= comment.body %>
        </div>
      </div>
    </div>
  </div>
</div>
